@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap')
@import 'blocks/_main'
@import 'blocks/_header'
@import 'elements/_buttons'
@import 'blocks/_content'

:root
  --title-color: #D68B1C
.title
  text-align: center
  font-size: 48px
  font-weight: 700
  padding-bottom: 90px
  margin: 0
h1
  font-size: 120px
  font-weight: 700
  color: #D2CFCF
  line-height: 100px
  margin: 0
h3
  font-size: 36px
  font-weight: 400
  color: #fff
  margin: 10px 0 20px 0
*
  font-family:"Montserrat",sasn-serif
body
  margin: 0
  padding: 0
img
  max-width:100%
a,h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6
  font-family:"Montserrat"
.container
  max-width:1200px
  margin:0 auto
li
  list-style-type: none
a
  text-decoration: none
.bottom
  margin: 0

